боты/travel-bot/city-travel-bot/workflow-full.json
{
  "data": {
    "updatedAt": "2026-01-22T18:54:58.066Z",
    "createdAt": "2026-01-22T18:23:18.674Z",
    "id": "J5tMzS1Oe64btITW",
    "name": "🚀 Travel Bot - Enhanced with Real Data",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "city-search",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "41c60f9f-30a6-4df1-95b1-6475fc308597",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "webhookId": "8fe4800c-f706-4fa0-9692-5a237016a727"
      },
      {
        "parameters": {
          "jsCode": "// Получаем данные из webhook\nconst city = $input.item.json.city || 'Москва';\nconst telegram_id = $input.item.json.telegram_id || 0;\nconst date_from = $input.item.json.date_from;\nconst date_to = $input.item.json.date_to;\n\n// Формируем ответ\nreturn {\n  success: true,\n  city: city,\n  telegram_id: telegram_id,\n  summary: `Добро пожаловать в ${city}! Это один из самых интересных городов России. Здесь вас ждут удивительные достопримечательности, богатая история и насыщенная культурная жизнь.`,\n  events: [\n    {\n      title: \"Концерт классической музыки\",\n      date: date_from,\n      venue: \"Концертный зал Филармония\",\n      price: \"От 500₽\"\n    },\n    {\n      title: \"Выставка современного искусства\",\n      date: date_from,\n      venue: \"Галерея Современного Искусства\",\n      price: \"300₽\"\n    },\n    {\n      title: \"Театральная постановка\",\n      date: date_to,\n      venue: \"Драматический театр\",\n      price: \"От 800₽\"\n    }\n  ],\n  attractions: [\n    \"🏛 Главная площадь\",\n    \"🏰 Исторический музей\",\n    \"🌳 Парк культуры и отдыха\",\n    \"🌆 Смотровая площадка\",\n    \"🎭 Театр оперы и балета\"\n  ],\n  hotels: [\n    \"🏨 Отель Премиум - рейтинг 4.8/5, от 3500₽/ночь\",\n    \"🏨 Гостиница Центральная - рейтинг 4.5/5, от 2500₽/ночь\",\n    \"🏨 Бизнес-отель Комфорт - рейтинг 4.3/5, от 2000₽/ночь\"\n  ],\n  cinema: [\n    \"🎬 Кинотеатр Премьер - новинки кино\",\n    \"🎬 Арт-кино центр - авторское кино\"\n  ]\n};"
        },
        "id": "7dd9635c-e21e-48fb-ac2b-f06859b58b45",
        "name": "Process Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "dfc737b2-bac8-463e-bb31-2328dd60ab5b",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          448,
          0
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "city-search",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "86e915d7-5339-4a03-89a3-44206b853df4",
        "name": "Webhook1",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          144,
          144
        ],
        "webhookId": "eadfc357-84b0-4a49-82d5-61c3b24e87c0"
      },
      {
        "parameters": {
          "jsCode": "// Получаем данные из webhook\nconst city = $input.item.json.city || 'Москва';\nconst telegram_id = $input.item.json.telegram_id || 0;\nconst date_from = $input.item.json.date_from;\nconst date_to = $input.item.json.date_to;\n\n// Маппинг городов на коды KudaGo\nconst cityMap = {\n  'Москва': 'msk',\n  'Санкт-Петербург': 'spb',\n  'Казань': 'kzn',\n  'Екатеринбург': 'ekb',\n  'Новосибирск': 'nsk',\n  'Нижний Новгород': 'nnv',\n  'Сочи': 'sochi'\n};\n\nconst locationCode = cityMap[city] || 'msk';\n\n// Формируем обзор города с учетом реального города\nconst summaries = {\n  'Москва': 'Добро пожаловать в столицу России! Москва — это грандиозное сочетание исторического наследия и современности. Здесь вас ждут Красная площадь, Кремль, Третьяковская галерея, Большой театр и множество других знаковых мест.',\n  'Санкт-Петербург': 'Культурная столица России! Санкт-Петербург восхищает своей архитектурой, музеями мирового класса (Эрмитаж!) и романтичными белыми ночами. Невский проспект, Петергоф, Исаакиевский собор ждут вас.',\n  'Казань': 'Столица Татарстана — город, где встречаются Восток и Запад. Казанский Кремль, мечеть Кул-Шариф, храм всех религий, национальная кухня — всё это делает Казань уникальным местом.',\n  'Екатеринбург': 'Столица Урала! Город на границе Европы и Азии, где история переплетается с современностью. Храм на Крови, Плотинка, музеи и театры — Екатеринбург не оставит равнодушным.',\n  'Новосибирск': 'Сибирская столица! Третий по величине город России, центр науки и культуры. Здесь находится знаменитый Академгородок, Новосибирский зоопарк и множество театров.',\n  'Нижний Новгород': 'Город на слиянии Волги и Оки! Нижегородский кремль, Стрелка, канатная дорога через Волгу — каждый уголок города пропитан историей и красотой.',\n  'Сочи': 'Главный курорт России! Чёрное море, горы, субтропический климат, олимпийские объекты и красивейшая природа — Сочи идеален для отдыха в любое время года.'\n};\n\nconst summary = summaries[city] || `Добро пожаловать в ${city}! Это один из интересных городов России с богатой историей и множеством достопримечательностей.`;\n\n// Достопримечательности по городам\nconst attractions = {\n  'Москва': [\n    '🏛 Красная площадь и Кремль',\n    '🏰 Собор Василия Блаженного',\n    '🎨 Третьяковская галерея',\n    '🌳 Парк Горького',\n    '🎭 Большой театр',\n    '🏛 Музей изобразительных искусств им. Пушкина',\n    '🌆 Смотровая площадка Москва-Сити'\n  ],\n  'Санкт-Петербург': [\n    '🏛 Эрмитаж и Дворцовая площадь',\n    '⛪ Исаакиевский собор',\n    '🏰 Петергоф — русский Версаль',\n    '🌉 Разводные мосты',\n    '🎭 Мариинский театр',\n    '🏛 Русский музей',\n    '🕌 Храм Спаса на Крови'\n  ],\n  'Казань': [\n    '🏰 Казанский Кремль',\n    '🕌 Мечеть Кул-Шариф',\n    '⛪ Благовещенский собор',\n    '🏛 Храм всех религий',\n    '🌆 Улица Баумана',\n    '🎭 Татарский академический театр',\n    '🏞 Кремлёвская набережная'\n  ],\n  'default': [\n    '🏛 Исторический центр города',\n    '🏰 Местный музей',\n    '🌳 Городской парк',\n    '🌆 Смотровая площадка',\n    '🎭 Драматический театр'\n  ]\n};\n\n// Отели по категориям\nconst hotels = [\n  '🏨 Премиум отель - рейтинг 4.8/5, от 4000₽/ночь',\n  '🏨 Гостиница Центральная - рейтинг 4.5/5, от 2800₽/ночь',\n  '🏨 Бизнес-отель Комфорт - рейтинг 4.3/5, от 2200₽/ночь',\n  '🏨 Апарт-отель Уютный - рейтинг 4.2/5, от 1800₽/ночь'\n];\n\n// Кинотеатры\nconst cinema = [\n  '🎬 Кинотеатр Премьер - новинки кино, IMAX',\n  '🎬 Арт-кино центр - авторское и независимое кино',\n  '🎬 Мультиплекс - все форматы, 3D, 4DX'\n];\n\n// События (пока mock, позже можно добавить интеграцию с KudaGo API)\nconst events = [\n  {\n    title: 'Концерт классической музыки',\n    venue: 'Концертный зал Филармония',\n    date: date_from,\n    price: 'От 500₽'\n  },\n  {\n    title: 'Выставка современного искусства',\n    venue: 'Галерея современного искусства',\n    date: date_from,\n    price: '300₽'\n  },\n  {\n    title: 'Театральная постановка',\n    venue: 'Драматический театр',\n    date: date_to,\n    price: 'От 800₽'\n  },\n  {\n    title: 'Stand-up комедия',\n    venue: 'Comedy Club',\n    date: date_from,\n    price: 'От 1200₽'\n  }\n];\n\nreturn {\n  success: true,\n  city: city,\n  telegram_id: telegram_id,\n  location_code: locationCode,\n  summary: summary,\n  events: events,\n  attractions: attractions[city] || attractions['default'],\n  hotels: hotels,\n  cinema: cinema\n};"
        },
        "id": "56cc1ad5-2bb6-4171-a3ea-d4f42248595b",
        "name": "Process Data1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          368,
          144
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "5ace053e-c381-4411-9ac4-856df652cabd",
        "name": "Respond to Webhook1",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          592,
          144
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Process Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Data": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook1": {
        "main": [
          [
            {
              "node": "Process Data1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Data1": {
        "main": [
          [
            {
              "node": "Respond to Webhook1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "89e6b8d3-f06b-4d38-9e02-fc1e60132fc4",
    "activeVersionId": "89e6b8d3-f06b-4d38-9e02-fc1e60132fc4",
    "versionCounter": 7,
    "triggerCount": 2,
    "shared": [
      {
        "updatedAt": "2026-01-22T18:23:18.674Z",
        "createdAt": "2026-01-22T18:23:18.674Z",
        "role": "workflow:owner",
        "workflowId": "J5tMzS1Oe64btITW",
        "projectId": "FiXfLCbMphJCpNyK",
        "project": {
          "updatedAt": "2026-01-19T18:09:01.128Z",
          "createdAt": "2026-01-19T18:08:40.612Z",
          "id": "FiXfLCbMphJCpNyK",
          "name": "Admin Admin <imamovmarat598@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "1d69bad4-ebdc-4d51-8ba6-7bc712954f46",
          "projectRelations": [
            {
              "updatedAt": "2026-01-19T18:08:40.612Z",
              "createdAt": "2026-01-19T18:08:40.612Z",
              "userId": "1d69bad4-ebdc-4d51-8ba6-7bc712954f46",
              "projectId": "FiXfLCbMphJCpNyK",
              "user": {
                "updatedAt": "2026-01-22T06:29:19.876Z",
                "createdAt": "2026-01-19T18:08:40.184Z",
                "id": "1d69bad4-ebdc-4d51-8ba6-7bc712954f46",
                "email": "imamovmarat598@gmail.com",
                "firstName": "Admin",
                "lastName": "Admin",
                "personalizationAnswers": null,
                "settings": {
                  "userActivated": true,
                  "easyAIWorkflowOnboarded": true,
                  "firstSuccessfulWorkflowId": "oQdJie1wGk8GjAtZ",
                  "userActivatedAt": 1768856421031
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-01-21",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [],
    "parentFolder": null,
    "activeVersion": {
      "updatedAt": "2026-01-22T18:31:40.666Z",
      "createdAt": "2026-01-22T18:31:37.957Z",
      "versionId": "89e6b8d3-f06b-4d38-9e02-fc1e60132fc4",
      "workflowId": "J5tMzS1Oe64btITW",
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "city-search",
            "responseMode": "lastNode",
            "options": {}
          },
          "id": "41c60f9f-30a6-4df1-95b1-6475fc308597",
          "name": "Webhook",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 1.1,
          "position": [
            0,
            0
          ],
          "webhookId": "8fe4800c-f706-4fa0-9692-5a237016a727"
        },
        {
          "parameters": {
            "jsCode": "// Получаем данные из webhook\nconst city = $input.item.json.city || 'Москва';\nconst telegram_id = $input.item.json.telegram_id || 0;\nconst date_from = $input.item.json.date_from;\nconst date_to = $input.item.json.date_to;\n\n// Формируем ответ\nreturn {\n  success: true,\n  city: city,\n  telegram_id: telegram_id,\n  summary: `Добро пожаловать в ${city}! Это один из самых интересных городов России. Здесь вас ждут удивительные достопримечательности, богатая история и насыщенная культурная жизнь.`,\n  events: [\n    {\n      title: \"Концерт классической музыки\",\n      date: date_from,\n      venue: \"Концертный зал Филармония\",\n      price: \"От 500₽\"\n    },\n    {\n      title: \"Выставка современного искусства\",\n      date: date_from,\n      venue: \"Галерея Современного Искусства\",\n      price: \"300₽\"\n    },\n    {\n      title: \"Театральная постановка\",\n      date: date_to,\n      venue: \"Драматический театр\",\n      price: \"От 800₽\"\n    }\n  ],\n  attractions: [\n    \"🏛 Главная площадь\",\n    \"🏰 Исторический музей\",\n    \"🌳 Парк культуры и отдыха\",\n    \"🌆 Смотровая площадка\",\n    \"🎭 Театр оперы и балета\"\n  ],\n  hotels: [\n    \"🏨 Отель Премиум - рейтинг 4.8/5, от 3500₽/ночь\",\n    \"🏨 Гостиница Центральная - рейтинг 4.5/5, от 2500₽/ночь\",\n    \"🏨 Бизнес-отель Комфорт - рейтинг 4.3/5, от 2000₽/ночь\"\n  ],\n  cinema: [\n    \"🎬 Кинотеатр Премьер - новинки кино\",\n    \"🎬 Арт-кино центр - авторское кино\"\n  ]\n};"
          },
          "id": "7dd9635c-e21e-48fb-ac2b-f06859b58b45",
          "name": "Process Data",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            224,
            0
          ]
        },
        {
          "parameters": {
            "respondWith": "json",
            "responseBody": "={{ $json }}",
            "options": {}
          },
          "id": "dfc737b2-bac8-463e-bb31-2328dd60ab5b",
          "name": "Respond to Webhook",
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1,
          "position": [
            448,
            0
          ]
        },
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "city-search",
            "responseMode": "lastNode",
            "options": {}
          },
          "id": "86e915d7-5339-4a03-89a3-44206b853df4",
          "name": "Webhook1",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 1.1,
          "position": [
            144,
            144
          ],
          "webhookId": "eadfc357-84b0-4a49-82d5-61c3b24e87c0"
        },
        {
          "parameters": {
            "jsCode": "// Получаем данные из webhook\nconst city = $input.item.json.city || 'Москва';\nconst telegram_id = $input.item.json.telegram_id || 0;\nconst date_from = $input.item.json.date_from;\nconst date_to = $input.item.json.date_to;\n\n// Маппинг городов на коды KudaGo\nconst cityMap = {\n  'Москва': 'msk',\n  'Санкт-Петербург': 'spb',\n  'Казань': 'kzn',\n  'Екатеринбург': 'ekb',\n  'Новосибирск': 'nsk',\n  'Нижний Новгород': 'nnv',\n  'Сочи': 'sochi'\n};\n\nconst locationCode = cityMap[city] || 'msk';\n\n// Формируем обзор города с учетом реального города\nconst summaries = {\n  'Москва': 'Добро пожаловать в столицу России! Москва — это грандиозное сочетание исторического наследия и современности. Здесь вас ждут Красная площадь, Кремль, Третьяковская галерея, Большой театр и множество других знаковых мест.',\n  'Санкт-Петербург': 'Культурная столица России! Санкт-Петербург восхищает своей архитектурой, музеями мирового класса (Эрмитаж!) и романтичными белыми ночами. Невский проспект, Петергоф, Исаакиевский собор ждут вас.',\n  'Казань': 'Столица Татарстана — город, где встречаются Восток и Запад. Казанский Кремль, мечеть Кул-Шариф, храм всех религий, национальная кухня — всё это делает Казань уникальным местом.',\n  'Екатеринбург': 'Столица Урала! Город на границе Европы и Азии, где история переплетается с современностью. Храм на Крови, Плотинка, музеи и театры — Екатеринбург не оставит равнодушным.',\n  'Новосибирск': 'Сибирская столица! Третий по величине город России, центр науки и культуры. Здесь находится знаменитый Академгородок, Новосибирский зоопарк и множество театров.',\n  'Нижний Новгород': 'Город на слиянии Волги и Оки! Нижегородский кремль, Стрелка, канатная дорога через Волгу — каждый уголок города пропитан историей и красотой.',\n  'Сочи': 'Главный курорт России! Чёрное море, горы, субтропический климат, олимпийские объекты и красивейшая природа — Сочи идеален для отдыха в любое время года.'\n};\n\nconst summary = summaries[city] || `Добро пожаловать в ${city}! Это один из интересных городов России с богатой историей и множеством достопримечательностей.`;\n\n// Достопримечательности по городам\nconst attractions = {\n  'Москва': [\n    '🏛 Красная площадь и Кремль',\n    '🏰 Собор Василия Блаженного',\n    '🎨 Третьяковская галерея',\n    '🌳 Парк Горького',\n    '🎭 Большой театр',\n    '🏛 Музей изобразительных искусств им. Пушкина',\n    '🌆 Смотровая площадка Москва-Сити'\n  ],\n  'Санкт-Петербург': [\n    '🏛 Эрмитаж и Дворцовая площадь',\n    '⛪ Исаакиевский собор',\n    '🏰 Петергоф — русский Версаль',\n    '🌉 Разводные мосты',\n    '🎭 Мариинский театр',\n    '🏛 Русский музей',\n    '🕌 Храм Спаса на Крови'\n  ],\n  'Казань': [\n    '🏰 Казанский Кремль',\n    '🕌 Мечеть Кул-Шариф',\n    '⛪ Благовещенский собор',\n    '🏛 Храм всех религий',\n    '🌆 Улица Баумана',\n    '🎭 Татарский академический театр',\n    '🏞 Кремлёвская набережная'\n  ],\n  'default': [\n    '🏛 Исторический центр города',\n    '🏰 Местный музей',\n    '🌳 Городской парк',\n    '🌆 Смотровая площадка',\n    '🎭 Драматический театр'\n  ]\n};\n\n// Отели по категориям\nconst hotels = [\n  '🏨 Премиум отель - рейтинг 4.8/5, от 4000₽/ночь',\n  '🏨 Гостиница Центральная - рейтинг 4.5/5, от 2800₽/ночь',\n  '🏨 Бизнес-отель Комфорт - рейтинг 4.3/5, от 2200₽/ночь',\n  '🏨 Апарт-отель Уютный - рейтинг 4.2/5, от 1800₽/ночь'\n];\n\n// Кинотеатры\nconst cinema = [\n  '🎬 Кинотеатр Премьер - новинки кино, IMAX',\n  '🎬 Арт-кино центр - авторское и независимое кино',\n  '🎬 Мультиплекс - все форматы, 3D, 4DX'\n];\n\n// События (пока mock, позже можно добавить интеграцию с KudaGo API)\nconst events = [\n  {\n    title: 'Концерт классической музыки',\n    venue: 'Концертный зал Филармония',\n    date: date_from,\n    price: 'От 500₽'\n  },\n  {\n    title: 'Выставка современного искусства',\n    venue: 'Галерея современного искусства',\n    date: date_from,\n    price: '300₽'\n  },\n  {\n    title: 'Театральная постановка',\n    venue: 'Драматический театр',\n    date: date_to,\n    price: 'От 800₽'\n  },\n  {\n    title: 'Stand-up комедия',\n    venue: 'Comedy Club',\n    date: date_from,\n    price: 'От 1200₽'\n  }\n];\n\nreturn {\n  success: true,\n  city: city,\n  telegram_id: telegram_id,\n  location_code: locationCode,\n  summary: summary,\n  events: events,\n  attractions: attractions[city] || attractions['default'],\n  hotels: hotels,\n  cinema: cinema\n};"
          },
          "id": "56cc1ad5-2bb6-4171-a3ea-d4f42248595b",
          "name": "Process Data1",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            368,
            144
          ]
        },
        {
          "parameters": {
            "respondWith": "json",
            "responseBody": "={{ $json }}",
            "options": {}
          },
          "id": "5ace053e-c381-4411-9ac4-856df652cabd",
          "name": "Respond to Webhook1",
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1,
          "position": [
            592,
            144
          ]
        }
      ],
      "connections": {
        "Webhook": {
          "main": [
            [
              {
                "node": "Process Data",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Process Data": {
          "main": [
            [
              {
                "node": "Respond to Webhook",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Webhook1": {
          "main": [
            [
              {
                "node": "Process Data1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Process Data1": {
          "main": [
            [
              {
                "node": "Respond to Webhook1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "Admin Admin",
      "name": "Version 89e6b8d3",
      "description": "",
      "autosaved": false,
      "workflowPublishHistory": [
        {
          "createdAt": "2026-01-22T18:31:40.661Z",
          "id": 25,
          "workflowId": "J5tMzS1Oe64btITW",
          "versionId": "89e6b8d3-f06b-4d38-9e02-fc1e60132fc4",
          "event": "activated",
          "userId": "1d69bad4-ebdc-4d51-8ba6-7bc712954f46"
        }
      ]
    },
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:read",
      "workflow:share",
      "workflow:update"
    ],
    "checksum": "b753041297d1902cd9cf178b4bd32ad9e884f77142be57d86010bb85ca1ea299"
  }
}