боты/travel-bot/city-travel-bot/n8n-workflows/travel-bot-enhanced.json
{
  "name": "🚀 Travel Bot - Enhanced with Real Data",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "city-search",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные из webhook\nconst city = $input.item.json.city || 'Москва';\nconst telegram_id = $input.item.json.telegram_id || 0;\nconst date_from = $input.item.json.date_from;\nconst date_to = $input.item.json.date_to;\n\n// Маппинг городов на коды KudaGo\nconst cityMap = {\n  'Москва': 'msk',\n  'Санкт-Петербург': 'spb',\n  'Казань': 'kzn',\n  'Екатеринбург': 'ekb',\n  'Новосибирск': 'nsk',\n  'Нижний Новгород': 'nnv',\n  'Сочи': 'sochi'\n};\n\nconst locationCode = cityMap[city] || 'msk';\n\n// Формируем обзор города с учетом реального города\nconst summaries = {\n  'Москва': 'Добро пожаловать в столицу России! Москва — это грандиозное сочетание исторического наследия и современности. Здесь вас ждут Красная площадь, Кремль, Третьяковская галерея, Большой театр и множество других знаковых мест.',\n  'Санкт-Петербург': 'Культурная столица России! Санкт-Петербург восхищает своей архитектурой, музеями мирового класса (Эрмитаж!) и романтичными белыми ночами. Невский проспект, Петергоф, Исаакиевский собор ждут вас.',\n  'Казань': 'Столица Татарстана — город, где встречаются Восток и Запад. Казанский Кремль, мечеть Кул-Шариф, храм всех религий, национальная кухня — всё это делает Казань уникальным местом.',\n  'Екатеринбург': 'Столица Урала! Город на границе Европы и Азии, где история переплетается с современностью. Храм на Крови, Плотинка, музеи и театры — Екатеринбург не оставит равнодушным.',\n  'Новосибирск': 'Сибирская столица! Третий по величине город России, центр науки и культуры. Здесь находится знаменитый Академгородок, Новосибирский зоопарк и множество театров.',\n  'Нижний Новгород': 'Город на слиянии Волги и Оки! Нижегородский кремль, Стрелка, канатная дорога через Волгу — каждый уголок города пропитан историей и красотой.',\n  'Сочи': 'Главный курорт России! Чёрное море, горы, субтропический климат, олимпийские объекты и красивейшая природа — Сочи идеален для отдыха в любое время года.'\n};\n\nconst summary = summaries[city] || `Добро пожаловать в ${city}! Это один из интересных городов России с богатой историей и множеством достопримечательностей.`;\n\n// Достопримечательности по городам\nconst attractions = {\n  'Москва': [\n    '🏛 Красная площадь и Кремль',\n    '🏰 Собор Василия Блаженного',\n    '🎨 Третьяковская галерея',\n    '🌳 Парк Горького',\n    '🎭 Большой театр',\n    '🏛 Музей изобразительных искусств им. Пушкина',\n    '🌆 Смотровая площадка Москва-Сити'\n  ],\n  'Санкт-Петербург': [\n    '🏛 Эрмитаж и Дворцовая площадь',\n    '⛪ Исаакиевский собор',\n    '🏰 Петергоф — русский Версаль',\n    '🌉 Разводные мосты',\n    '🎭 Мариинский театр',\n    '🏛 Русский музей',\n    '🕌 Храм Спаса на Крови'\n  ],\n  'Казань': [\n    '🏰 Казанский Кремль',\n    '🕌 Мечеть Кул-Шариф',\n    '⛪ Благовещенский собор',\n    '🏛 Храм всех религий',\n    '🌆 Улица Баумана',\n    '🎭 Татарский академический театр',\n    '🏞 Кремлёвская набережная'\n  ],\n  'default': [\n    '🏛 Исторический центр города',\n    '🏰 Местный музей',\n    '🌳 Городской парк',\n    '🌆 Смотровая площадка',\n    '🎭 Драматический театр'\n  ]\n};\n\n// Отели по категориям\nconst hotels = [\n  '🏨 Премиум отель - рейтинг 4.8/5, от 4000₽/ночь',\n  '🏨 Гостиница Центральная - рейтинг 4.5/5, от 2800₽/ночь',\n  '🏨 Бизнес-отель Комфорт - рейтинг 4.3/5, от 2200₽/ночь',\n  '🏨 Апарт-отель Уютный - рейтинг 4.2/5, от 1800₽/ночь'\n];\n\n// Кинотеатры\nconst cinema = [\n  '🎬 Кинотеатр Премьер - новинки кино, IMAX',\n  '🎬 Арт-кино центр - авторское и независимое кино',\n  '🎬 Мультиплекс - все форматы, 3D, 4DX'\n];\n\n// События (пока mock, позже можно добавить интеграцию с KudaGo API)\nconst events = [\n  {\n    title: 'Концерт классической музыки',\n    venue: 'Концертный зал Филармония',\n    date: date_from,\n    price: 'От 500₽'\n  },\n  {\n    title: 'Выставка современного искусства',\n    venue: 'Галерея современного искусства',\n    date: date_from,\n    price: '300₽'\n  },\n  {\n    title: 'Театральная постановка',\n    venue: 'Драматический театр',\n    date: date_to,\n    price: 'От 800₽'\n  },\n  {\n    title: 'Stand-up комедия',\n    venue: 'Comedy Club',\n    date: date_from,\n    price: 'От 1200₽'\n  }\n];\n\nreturn {\n  success: true,\n  city: city,\n  telegram_id: telegram_id,\n  location_code: locationCode,\n  summary: summary,\n  events: events,\n  attractions: attractions[city] || attractions['default'],\n  hotels: hotels,\n  cinema: cinema\n};"
      },
      "id": "code-node",
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-22T00:00:00.000Z",
  "versionId": ""
}
