Telegram-bot-monitoring-drugs-Russia/drug-news-monitor.json
{
  "name": "Drug Seizure News Monitor - Global",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "notes": "Runs every 12 hours - adjust as needed"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=drug+seizure+OR+narcotics+arrest+OR+drug+bust&hl=en&gl=US&ceid=US:en"
      },
      "id": "rss-google-news-en",
      "name": "Google News EN",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [250, 100],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=%D0%B8%D0%B7%D1%8A%D1%8F%D1%82%D0%B8%D0%B5+%D0%BD%D0%B0%D1%80%D0%BA%D0%BE%D1%82%D0%B8%D0%BA%D0%BE%D0%B2+OR+%D0%B7%D0%B0%D0%B4%D0%B5%D1%80%D0%B6%D0%B0%D0%BD%D0%B8%D0%B5+%D0%BD%D0%B0%D1%80%D0%BA%D0%BE%D0%BA%D1%83%D1%80%D1%8C%D0%B5%D1%80&hl=ru&gl=RU&ceid=RU:ru"
      },
      "id": "rss-google-news-ru",
      "name": "Google News RU",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [250, 250],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=droga+incautaci%C3%B3n+OR+narcotr%C3%A1fico+detenci%C3%B3n&hl=es&gl=ES&ceid=ES:es"
      },
      "id": "rss-google-news-es",
      "name": "Google News ES",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [250, 400],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=Drogenrazzia+OR+Drogenfund+OR+Festnahme+Drogen&hl=de&gl=DE&ceid=DE:de"
      },
      "id": "rss-google-news-de",
      "name": "Google News DE",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [250, 550],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=saisie+drogue+OR+trafic+stup%C3%A9fiants+arrestation&hl=fr&gl=FR&ceid=FR:fr"
      },
      "id": "rss-google-news-fr",
      "name": "Google News FR",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [250, 700],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=%E6%AF%92%E5%93%81+%E6%91%98%E7%99%BA+OR+%E8%96%AC%E7%89%A9+%E9%80%AE%E6%8D%95&hl=ja&gl=JP&ceid=JP:ja"
      },
      "id": "rss-google-news-jp",
      "name": "Google News JP",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [250, 850],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=%E6%AF%92%E5%93%81+%E7%BC%89%E8%8E%B7+OR+%E8%B4%A9%E6%AF%92+%E9%80%AE%E6%8D%95&hl=zh-CN&gl=CN&ceid=CN:zh-Hans"
      },
      "id": "rss-google-news-cn",
      "name": "Google News CN",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [250, 1000],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=apreens%C3%A3o+drogas+OR+tr%C3%A1fico+pris%C3%A3o&hl=pt-BR&gl=BR&ceid=BR:pt-419"
      },
      "id": "rss-google-news-br",
      "name": "Google News BR",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [250, 1150],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://www.dea.gov/rss-feed"
      },
      "id": "rss-dea",
      "name": "DEA News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [250, 1300],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "notes": "US Drug Enforcement Administration"
    },
    {
      "parameters": {
        "url": "https://www.europol.europa.eu/rss.xml"
      },
      "id": "rss-europol",
      "name": "Europol News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [250, 1450],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "notes": "European Police Office"
    },
    {
      "parameters": {
        "url": "https://www.unodc.org/unodc/en/frontpage/rss.xml"
      },
      "id": "rss-unodc",
      "name": "UNODC News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [250, 1600],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "notes": "UN Office on Drugs and Crime"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-all",
      "name": "Merge All Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [500, 600]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "link",
              "value": "={{ $json.link }}"
            },
            {
              "name": "pubDate",
              "value": "={{ $json.pubDate || $json.isoDate }}"
            },
            {
              "name": "description",
              "value": "={{ $json.contentSnippet || $json.description || '' }}"
            },
            {
              "name": "source",
              "value": "={{ $json.source?.title || 'Unknown' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "normalize-fields",
      "name": "Normalize Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [700, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-date",
              "leftValue": "={{ $json.pubDate }}",
              "rightValue": "={{ $now.minus({hours: 24}).toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-24h",
      "name": "Filter Last 24h",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [900, 600]
    },
    {
      "parameters": {
        "operation": "removeDuplicates",
        "compare": "selectedFields",
        "fieldsToCompare": "title"
      },
      "id": "remove-duplicates",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1,
      "position": [1100, 600]
    },
    {
      "parameters": {
        "maxItems": 30
      },
      "id": "limit-items",
      "name": "Limit to 30",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [1300, 600]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate-news",
      "name": "Aggregate News",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1500, 600]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert analyst specializing in global drug enforcement news. Your task is to:\n\n1. FILTER: Select only news about:\n   - Drug seizures (cocaine, heroin, methamphetamine, fentanyl, cannabis, synthetic drugs)\n   - Arrests of drug traffickers/dealers\n   - Discovery of drug laboratories\n   - Major drug trafficking operations disrupted\n   - Border seizures\n\n2. EXCLUDE: Ignore news about:\n   - Drug policy debates\n   - Legalization discussions\n   - Medical marijuana\n   - Addiction treatment\n   - Opinion pieces\n\n3. OUTPUT FORMAT (in Russian):\n   Create a daily digest with:\n   - Header: \"ЕЖЕДНЕВНАЯ СВОДКА: Борьба с наркотиками\" + date\n   - For each relevant news item:\n     * Country/Region emoji flag\n     * Brief headline (1 line)\n     * Key details: what was seized, quantity, arrests made\n     * Source link\n   - Summary statistics at the end\n\n4. PRIORITIZE by:\n   - Large seizures (tons, millions of dollars)\n   - International operations\n   - Lab discoveries\n   - Major arrests"
            },
            {
              "role": "user",
              "content": "=Analyze these news items and create a daily digest:\n\n{{ JSON.stringify($json.data, null, 2) }}"
            }
          ]
        },
        "options": {
          "maxTokens": 4000,
          "temperature": 0.3
        }
      },
      "id": "openai-analyze",
      "name": "AI Analyze & Summarize",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [1700, 600],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "YOUR_CHANNEL_ID",
        "text": "={{ $json.content }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "disable_web_page_preview": false
        }
      },
      "id": "telegram-send",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1900, 600],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Drug Seizure News Monitor\n\n### RSS Sources:\n- Google News (EN, RU, ES, DE, FR, JP, CN, BR)\n- DEA (US Drug Enforcement)\n- Europol\n- UNODC\n\n### Keywords:\n- EN: drug seizure, narcotics arrest, drug bust\n- RU: изъятие наркотиков, задержание наркокурьер\n- ES: incautación droga, narcotráfico\n- DE: Drogenrazzia, Drogenfund\n- FR: saisie drogue, stupéfiants\n- JP: 毒品摘発, 薬物逮捕\n- CN: 毒品缉获, 贩毒逮捕\n- BR: apreensão drogas, tráfico"
      },
      "id": "sticky-info",
      "name": "Workflow Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, 100]
    },
    {
      "parameters": {
        "content": "## SETUP REQUIRED:\n\n1. **OpenAI API Key**\n   - Add credential: OpenAI API\n\n2. **Telegram Bot**\n   - Create bot via @BotFather\n   - Add credential: Telegram API\n   - Set YOUR_CHANNEL_ID (e.g., @yourchannel or -1001234567890)\n\n3. **Add bot to channel as admin**"
      },
      "id": "sticky-setup",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, 500]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {"node": "Google News EN", "type": "main", "index": 0},
          {"node": "Google News RU", "type": "main", "index": 0},
          {"node": "Google News ES", "type": "main", "index": 0},
          {"node": "Google News DE", "type": "main", "index": 0},
          {"node": "Google News FR", "type": "main", "index": 0},
          {"node": "Google News JP", "type": "main", "index": 0},
          {"node": "Google News CN", "type": "main", "index": 0},
          {"node": "Google News BR", "type": "main", "index": 0},
          {"node": "DEA News", "type": "main", "index": 0},
          {"node": "Europol News", "type": "main", "index": 0},
          {"node": "UNODC News", "type": "main", "index": 0}
        ]
      ]
    },
    "Google News EN": {
      "main": [[{"node": "Merge All Sources", "type": "main", "index": 0}]]
    },
    "Google News RU": {
      "main": [[{"node": "Merge All Sources", "type": "main", "index": 0}]]
    },
    "Google News ES": {
      "main": [[{"node": "Merge All Sources", "type": "main", "index": 0}]]
    },
    "Google News DE": {
      "main": [[{"node": "Merge All Sources", "type": "main", "index": 0}]]
    },
    "Google News FR": {
      "main": [[{"node": "Merge All Sources", "type": "main", "index": 0}]]
    },
    "Google News JP": {
      "main": [[{"node": "Merge All Sources", "type": "main", "index": 0}]]
    },
    "Google News CN": {
      "main": [[{"node": "Merge All Sources", "type": "main", "index": 0}]]
    },
    "Google News BR": {
      "main": [[{"node": "Merge All Sources", "type": "main", "index": 0}]]
    },
    "DEA News": {
      "main": [[{"node": "Merge All Sources", "type": "main", "index": 0}]]
    },
    "Europol News": {
      "main": [[{"node": "Merge All Sources", "type": "main", "index": 0}]]
    },
    "UNODC News": {
      "main": [[{"node": "Merge All Sources", "type": "main", "index": 0}]]
    },
    "Merge All Sources": {
      "main": [[{"node": "Normalize Fields", "type": "main", "index": 0}]]
    },
    "Normalize Fields": {
      "main": [[{"node": "Filter Last 24h", "type": "main", "index": 0}]]
    },
    "Filter Last 24h": {
      "main": [[{"node": "Remove Duplicates", "type": "main", "index": 0}]]
    },
    "Remove Duplicates": {
      "main": [[{"node": "Limit to 30", "type": "main", "index": 0}]]
    },
    "Limit to 30": {
      "main": [[{"node": "Aggregate News", "type": "main", "index": 0}]]
    },
    "Aggregate News": {
      "main": [[{"node": "AI Analyze & Summarize", "type": "main", "index": 0}]]
    },
    "AI Analyze & Summarize": {
      "main": [[{"node": "Send to Telegram", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-17T12:00:00.000Z",
  "versionId": "1"
}
